header {
    background-color: #31343d;
    display: flex;
}

h1 {
    color: #31343d;
    background-color: #92ccce;
    padding-left: 3%;
}

nav li {
    list-style: none;
    display: inline;
}

nav a {
    color: #92ccce;
    text-decoration: none;
    border-bottom-style: solid;
}