header {
    background-color: #31343d;
    display: flex;
}

h1 {
    color: #31343d;
    background-color: #92ccce;
    justify-content: flex-start;
}

nav {
    justify-content: flex-end;
}

nav li {
    list-style: none;
}

nav a {
    color: #92ccce;
    text-decoration: none;
    border-bottom-style: solid;
}